<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" href="/common/css/tabler.min.css">
    <link rel="stylesheet" href="/common/css/sidebar.css" type="text/css">
    <link rel="stylesheet" href="/common/css/layout.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Trackery</title>
</head>
<body>
<div class="layout-container">
    <div class="layout-sidebar">
        <section th:replace="~{common/sidebar :: sidebar}"></section>
    </div>
    <div class="layout-content">
        <section layout:fragment="content"></section>
    </div>
</div>
<script src="/common/js/tabler.min.js"></script>
<div layout:fragment="scripts"></div>
</body>
</html>
