<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" href="/css/tabler.min.css">
    <link rel="stylesheet" href="/css/sidebar.css" type="text/css">
    <link rel="stylesheet" href="/common/css/layout.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Trackery</title>
    <style>
        * {
            box-sizing: border-box;
            font-family: 'Noto Sans KR', sans-serif;
        }

        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        .layout-container {
            display: flex;
            flex-direction: row;
        }

        .layout-content {
            padding: 0;
            width: 100%;
            margin-left: 20rem;
        }
    </style>
</head>
<body>
<div class="layout-container">
    <div class="layout-sidebar">
        <section th:replace="~{common/sidebar :: sidebar}"></section>
    </div>
    <div class="layout-content base-container">
        <section layout:fragment="content"></section>
    </div>
</div>
<script src="/js/tabler.min.js"></script>
<div layout:fragment="scripts"></div>
</body>
</html>
