<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/mypage/css/update-user-info.css">
</head>
<body>
<div class="modal-content">
    <span class="update-user-info-modal-close">&times;</span>
    <div class="backplate">
        <div class="user-info-update-section">
            <p class="section-title">유저 정보 수정</p>

            <!--프로필 이미지 섹션-->
            <div class="profile-image-block" style="margin-top: 20px;">
                <img id="updateProfileImage" src="/images/profile.jpg" alt="profile-image" class="profile-image">
            </div>

            <!--유저명 변경 섹션-->
            <div class="username-block" style="margin-top: 20px;">
                <label class="block-title">유저명</label>
                <!--현재 유저명-->
                <div class="present present-username-block">
                    <label for="presentUserNameInputForm"></label>
                    <input type="text" class="form-control" id="presentUserNameInputForm"
                           value="" readonly style="height: 50px;"/>
                    <a href="#" class="edit-icon" id="editUsernameBtn">
                        <img src="/icons/common/edit.svg" alt="edit">
                    </a>
                </div>
                <!--유저명 변경 블럭-->
                <div class="update-username-block">
                    <label for="updateUserNameInputForm"></label>
                    <small class="form-text text-muted" style="margin-top: 20px; margin-bottom: 5px;">4~15자 길이의 영문 대소문자, 숫자, 밑줄(_) 조합</small>
                    <div class="update-username-input-block">
                        <input type="text" class="form-control" id="updateUserNameInputForm" style="height: 50px;"
                               placeholder="새 유저명을 입력해주세요."/>
                        <button class="btn btn-dark" id="updateUserNameVerifyBtn" disabled="">중복 확인</button>
                    </div>


                    <button id="updateUserNameSubmitBtn" class="btn btn-dark submit-btn" disabled="">유저명 수정</button>
                </div>
            </div>

            <!--닉네임 변경 섹션-->
            <div class="nickname-block" style="margin-top: 20px;">
                <label class="block-title">닉네임</label>

                <!--현재 닉네임 블럭-->
                <div class="present present-nickname-block">
                    <label for="presentNicknameInputForm"></label>
                    <input type="text" class="form-control" id="presentNicknameInputForm"
                           value="" readonly style="height: 50px;"/>
                    <a href="#" class="edit-icon" id="editNicknameBtn">
                        <img src="/icons/common/edit.svg" alt="edit">
                    </a>
                </div>

                <!--닉네임 변경 블럭-->
                <div class="update-nickname-block">
                    <label for="updateNicknameInputForm" class="form-label"></label>
                    <input type="text" class="form-control" id="updateNicknameInputForm" style="height: 50px;"
                           placeholder="새 닉네임을 입력해주세요."/>

                    <button id="updateNicknameSubmitBtn" class="btn btn-dark submit-btn" disabled="">닉네임 수정</button>
                </div>


            </div>

            <!--이메일 변경 섹션-->
            <div class="email-block" style="margin-top: 20px;">
                <label class="block-title">이메일</label>
                <div class="present present-email-block">
                    <label for="presentEmailInputForm"></label>
                    <input type="text" class="form-control" id="presentEmailInputForm"
                           value="" readonly style="height: 50px;"/>
                    <a href="#" class="edit-icon" id="editEmailBtn">
                        <img src="/icons/common/edit.svg" alt="edit">
                    </a>
                </div>
                <div class="update-email-block">
                    <div class="update-email-input-button-group">
                        <label for="updateEmailInputForm"></label>
                        <input type="text" class="form-control" id="updateEmailInputForm" style="height: 50px;"
                               placeholder="새 이메일을 입력해주세요."/>
                        <button class="btn btn-dark" id="requestEmailVerificationBtn" disabled="">인증 번호 발송</button>
                    </div>

                    <div class="update-email-input-button-group">
                        <label for="emailAuthNumberInputForm"></label>
                        <input type="text" class="form-control" id="emailAuthNumberInputForm" style="height: 50px;"
                               placeholder="인증 번호를 입력해주세요."/>
                        <button class="btn btn-dark" id="verifyEmailAuthNumberBtn" disabled="">인증</button>
                    </div>

                    <button id="updateEmailSubmitBtn" class="btn btn-dark submit-btn" disabled="">이메일 변경</button>
                </div>
            </div>

            <!--비밀번호 섹션-->
            <div class="password-block" style="margin-top: 20px;">
                <label class="block-title">비밀번호</label>

                <div class="present present-password-block">
                    <label class="w-100">
                        <input type="password" class="form-control" style="height: 50px;" value="forFillPassword"
                               readonly/>
                    </label>
                    <a href="#" class="edit-icon" id="editPasswordBtn">
                        <img src="/icons/common/edit.svg" alt="edit">
                    </a>
                </div>

                <div class="update-password-block">
                    <div class="present-password-input-block">
                        <label for="presentPasswordInputForm"></label>
                        <div class="input-group input-group-flat">
                            <input type="password" class="form-control" id="presentPasswordInputForm"
                                   style="height: 50px;"
                                   placeholder="현재 비밀번호를 입력해주세요."/>
                            <span class="input-group-text">
                        <a href="#" class="toggle-password-btn" id="updateTogglePresentPasswordConfirm">
                            <img src="/icons/password/eye-closed.svg" alt="비밀번호 표시 전환">
                        </a>
                        </span>
                        </div>
                    </div>

                    <div class="update-password-input-block">
                        <div style="display:flex; flex-direction: column;">
                            <label for="updateNewPasswordInputForm"></label>
                            <small class="form-text text-muted">최소 16자리 영문 대소문자 + 숫자 + 특수문자 조합</small>
                        </div>
                        <div class="input-group input-group-flat">
                            <input type="password" class="form-control" id="updateNewPasswordInputForm"
                                   style="height: 50px;"
                                   placeholder="새 비밀번호를 입력해주세요."/>
                            <span class="input-group-text">
                        <a href="#" class="toggle-password-btn" id="updateTogglePassword">
                            <img src="/icons/password/eye-closed.svg" alt="비밀번호 표시 전환">
                        </a>
                        </span>
                        </div>
                    </div>

                    <div class="update-password-confirm-input-block">
                        <label for="updateNewPasswordConfirmInputForm"></label>
                        <div class="input-group input-group-flat">
                            <input type="password" class="form-control" id="updateNewPasswordConfirmInputForm"
                                   style="height: 50px;"
                                   placeholder="새 비밀번호를 다시 입력해주세요."/>
                            <span class="input-group-text">
                        <a href="#" class="toggle-password-btn" id="updateTogglePasswordConfirm">
                            <img src="/icons/password/eye-closed.svg" alt="비밀번호 표시 전환">
                        </a>
                        </span>
                        </div>
                    </div>

                    <button id="updatePasswordSubmitBtn" class="btn btn-dark submit-btn" disabled="">비밀번호 수정</button>
                </div>
            </div>

            <!--선호지역 섹션-->
            <div class="prefer-area-block"></div>

        </div>

        <!--  간편로그인 섹션 -->
        <div class="manage-oauth-section">
            <p class="section-title">간편로그인 연동</p>
            <div class="oauth-providers">
                <img src="/images/google-logo.png" class="oauth-icon" id="google-login" alt="구글 로그인">
                <img src="/images/kakao-logo.png" class="oauth-icon" id="kakao-login" alt="카카오 로그인">
                <img src="/images/naver-logo.png" class="oauth-icon" id="naver-login" alt="네이버 로그인">
                <img src="/images/github-logo.png" class="oauth-icon" id="github-login" alt="깃허브 로그인">
            </div>
        </div>

        <div class="update-interaction-btn-group">
            <button id="updateSubmitBtn" class="btn btn-dark w-75">변경 사항 저장</button>
            <button id="deleteAccountBtn" class="btn btn-danger w-25">회원 탈퇴</button>
        </div>
    </div>
</div>
</body>
</html>