<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/mypage/css/update-user-info.css">
</head>
<body>
<div class="modal-content">
    <span class="update-user-info-modal-close">&times;</span>
    <div class="backplate">
        <div class="user-info-update-section">
            <p class="section-title">유저 정보 수정</p>
            <p>어쩌구저쩌구</p>
        </div>
        <div class="manage-oauth-section">
            <p class="section-title">간편로그인 연동</p>
            <div class="oauth-providers">
                <img src="/images/google-logo.png" class="oauth-icon" id="google-login" alt="구글 로그인">
                <img src="/images/kakao-logo.png" class="oauth-icon" id="kakao-login" alt="카카오 로그인">
                <img src="/images/naver-logo.png" class="oauth-icon" id="naver-login" alt="네이버 로그인">
                <img src="/images/github-logo.png" class="oauth-icon" id="github-login" alt="깃허브 로그인">
            </div>
        </div>
    </div>
</div>
</body>
</html>