<!doctype html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="/register/css/register.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<!-- 모달 창 -->
<div class="modal-content">
    <span class="register-modal-close" id="register-modal-close">&times</span>

    <!-- 1. 제목 섹션 -->
    <div class="title-section">회원가입</div>

    <!-- 3. 입력 섹션 -->
    <div class="input-form-section">

        <div class="email-input-section" style="margin-bottom: 20px">
            <label class="form-label required">이메일</label>
            <div class="email-input-form">
                <input type="text" class="form-control" id="email" name="email" style="height: 50px"
                       placeholder="이메일을 입력해주세요."/>
                <div class="email-verify-btn" style="margin-bottom:15px">
                    <button class="btn btn-dark" id="registerEmailRequestVerifyBtn"
                            style="margin-left:40px; height: 50px; width: 120px; flex-shrink: 0; padding: 8px 12px;">이메일
                        인증
                    </button>
                </div>
            </div>
            <div class="register-email-verification">
                <input type="text" class="form-control" id="registerEmailAuthNumber" style="height: 50px"
                       placeholder="인증번호를 입력해주세요."/>
                <button class="btn btn-dark" id="registerEmailAuthBtn"
                        style="margin-left:40px; height: 50px; width: 120px; flex-shrink: 0; padding: 8px 12px;"
                        disabled>인증
                </button>
            </div>

        </div>

        <div class="username-input-section" style="margin-bottom: 20px">
            <div class="mb-0 d-flex align-items-baseline">
                <label class="form-label required">사용자명</label>
                <small class="form-text text-muted">&nbsp&nbsp 4~15자 길이에 영문 대소문자, 숫자, 밑줄(_)로 작성해주세요.</small>
            </div>
            <div class="username-input-form">
                <div class="input-group input-group-flat">
                    <span class="input-group-text">
                              @
                            </span>
                    <input type="text" class="form-control" id="username" name="username" style="height: 50px;"
                           placeholder="사용자명을 입력해주세요." autocomplete="off"/>
                </div>


                <div class="username-verify-btn">
                    <button id="username-verify-btn" class="btn btn-dark disabled"
                            style="margin-left:40px; height: 50px; width: 120px; flex-shrink: 0; padding: 8px 12px;">중복
                        확인
                    </button>
                </div>
            </div>
        </div>

        <div class="nickname-input-form" style="margin-bottom: 20px;">
            <label class="form-label required">닉네임</label>
            <input type="text" class="form-control" id="nickname" name="nickname" style="height: 50px;"
                   placeholder="닉네임을 입력해주세요."/>
        </div>

        <div class="password-input-form" style="margin-bottom: 20px;">
            <div class="mb-0 d-flex align-items-baseline">
                <label class="form-label required">비밀번호</label>
                <small class="form-text text-muted">&nbsp&nbsp 최소 16자리에 영문 대소문자 + 숫자 + 특수문자로 작성해주세요.</small>
            </div>
            <div class="input-group input-group-flat">
                <input type="password" class="form-control" id="password" name="password" style="height: 50px;"
                       placeholder="비밀번호를 입력해주세요."/>
                <span class="input-group-text">
                        <a href="#" id="registerTogglePassword">
                            <img src="/icons/password/eye-closed.svg" alt="비밀번호 표시 전환">
                        </a>
                </span>
            </div>
        </div>

        <div class="password-confirm-input-form" style="margin-bottom: 20px;">
            <label class="form-label required">비밀번호 확인</label>
            <div class="input-group input-group-flat">
                <input type="password" class="form-control" id="password-confirm" name="password-confirm"
                       style="height: 50px;"
                       placeholder="비밀번호를 다시 입력해주세요."/>
                <span class="input-group-text">
                        <a href="#" id="registerTogglePasswordConfirm">
                            <img src="/icons/password/eye-closed.svg" alt="비밀번호 표시 전환">
                        </a>
                </span>
            </div>

        </div>

    </div>

    <!-- 저장 버튼 섹션 -->
    <div class="save-section">
        <div class="save-btn">
            <a href="#" id="save-btn" class="btn btn-dark btn-lg w-100 disabled">변경 사항 저장</a>
        </div>
    </div>

</div>
</body>
</html>