<!DOCTYPE html>
<html lang="ko">
<style>

</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>임시 모달 발사대</title>
</head>
<body>
<h1>임시 모달 발사대 </h1>
<button onclick="openModal()">모달 열기</button>
<button onclick="openLoginModal()">로그인 모달 열기</button>

<div class="register-modal-container" id="register-modal-container"></div>
<div class="login-modal-container" id="login-modal-container"></div>

<script src="/register/js/modal-loader.js"></script>
</body>
</html>
