<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trackery</title>
    <link rel="stylesheet" href="/css/tabler.min.css">
    <link rel="stylesheet" data-th-href="@{/css/landing.css}">
</head>
<body>
<div class="main-container">
    <div class="content-wrapper">
        <div id="imageContainer"></div>
    </div>
    <div class="gradient-container"></div>
    <div id="content-overlay" class="content-overlay">
        <div class="promotion-text">
            "트래커리(Trackery)로 지도 위에 여행을 기록하고, 추억을 나누세요."
        </div>
        <button id="startButton" class="btn btn-primary btn-start">시작하기</button>
    </div>
</div>
<div>
    <div class="register-modal-container" id="register-modal-container"></div>
    <div class="login-modal-container" id="login-modal-container"></div>
    <div class="find-account-modal-container" id="find-account-modal-container"></div>
</div>
<script src="/js/tabler.min.js"></script>
<script src="/js/landing.js"></script>
</body>
</html>
