<!doctype html>
<html lang="ko">
<head>
    <link rel="stylesheet" href="/login/css/find-account.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>계정 찾기 모달</title>
</head>
<body>
<div class="modal-content">
    <span class="find-account-modal-close" id="find-account-modal-close">&times;</span>

    <!-- 타이틀 섹션 -->
    <p class="title">회원 정보 찾기</p>

    <!--    유저명, 비밀번호 선택-->
    <nav class="nav nav-segmented nav-2 w-100" role="tablist">
        <button id="tab-user" class="nav-link active" role="tab" data-bs-toggle="tab" aria-selected="true"
                aria-controls="content-user" tabindex="0">
            유저명
        </button>
        <button id="tab-password" class="nav-link" role="tab" data-bs-toggle="tab" aria-selected="false"
                aria-controls="content-password" tabindex="0">
            비밀번호
        </button>
    </nav>

    <!--비밀번호 찾기 섹션-->
    <div class="reset-password">
        <!--        스텝1. 이메일 인증-->
        <div class="verify-email">
            <h3 style="text-align: center; margin-bottom:15px;"> 이메일 인증 </h3>
            <div class="input-email">
                <div class="email-input-form">
                    <input type="text" class="form-control" id="find-password-email" name="email" style="height: 50px"
                           placeholder="이메일을 입력해주세요."/>
                    <div class="password-code-send-btn">
                        <button class="btn btn-dark" id="find-password-email-verification-code-send-btn"
                                style="margin-left:40px; height: 50px; width: 120px; flex-shrink: 0; padding: 8px 12px;">
                            인증 번호 전송
                        </button>
                    </div>
                </div>
            </div>

            <div class="input-verify">
                <div class="auth-number-input-form">
                    <input type="text" class="form-control" id="find-password-auth-number" name="email"
                           style="height: 50px"
                           placeholder="인증번호를 입력해주세요."/>
                    <div class="password-email-verify-btn">
                        <button class="btn btn-dark" id="find-password-auth-number-verify-btn"
                                style="margin-left:40px; height: 50px; width: 120px; flex-shrink: 0; padding: 8px 12px;"
                                disabled>인증
                            번호 확인
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--        스텝2. 비밀번호 입력 및 검증-->
        <div class="input-password">
            <h3 style="text-align: center; margin-bottom:15px;"> 비밀번호 변경 </h3>

            <div class="new-password-input" style="margin-bottom:15px;">
                <div class="new-password-label">
                    <label class="form-label">새 비밀번호</label>
                    <small class="form-text text-muted" style="margin-left:10px;">최소 16자리에 영문 대소문자 + 숫자 + 특수문자로
                        작성해주세요.</small>
                </div>
                <div class="input-group input-group-flat">
                    <input type="password" id="newPassword" class="form-control" autocomplete="off"
                           placeholder="새 비밀번호"/>
                    <span class="input-group-text">
                        <a href="#" id="toggleNewPassword">
                            <img src="/icons/password/eye-closed.svg" alt="비밀번호 표시 전환">
                        </a>
                </span>
                </div>
            </div>

            <div class="new-password-confirm-input" style="margin-bottom:30px;">
                <label class="form-label">새 비밀번호 확인</label>
                <div class="input-group input-group-flat">
                    <input type="password" id="newPasswordConfirm" class="form-control" autocomplete="off"
                           placeholder="새 비밀번호 확인"/>
                    <span class="input-group-text">
                        <a href="#" id="toggleNewPasswordConfirm">
                            <img src="/icons/password/eye-closed.svg" alt="비밀번호 표시 전환">
                        </a>
                </span>
                </div>
            </div>

            <div class="submit-reset-password">
                <button type="button" id="submit-new-password-btn" class="btn btn-dark w-100 mb-2" disabled>비밀번호 변경
                </button>
            </div>
        </div>

        <!--        스텝3. 완료창 -->
        <div class="result-page">
            <h3>비밀번호 변경 완료</h3>
            <p>변경된 비밀번호로 로그인해주십시오.</p>
            <button type="button" id="return-to-login-btn" class="btn btn-dark w-100 mb-2">확인</button>
        </div>
    </div>

</div>

</body>
</html>