<!DOCTYPE html>
<html
        lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layout}">
<head>
  <title>Trackery - 이미지 업로드</title>
  <link rel="stylesheet" href="/upload/css/image-upload.css">
</head>
<body>
<section layout:fragment="content">
  <div class="base-container">
    막으라고 막으라고 님블뉴런 막으라고 뭐하는데 막으라고
  </div>
  <div class="detail-container">
    사이드탭
  </div>
</section>
<div layout:fragment="scripts">
  <script type="module" src="/upload/js/ImageUpload.js"></script>
</div>
</body>
</html>