* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.layout-container {
    display: flex;
    flex-direction: row;
    background-color: #d8e0e6;
}

.layout-container .layout-sidebar {
    width: clamp(150px, 16.68vw, 30vh);
    flex-shrink: 0;
}

.layout-container .layout-content {
    padding: 0;
    flex: 1;
}

.layout-container .layout-content .base-container {
    height: 100vh;
    width: 62.5%;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 5%;
}

.layout-container .layout-content .detail-container {
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    width: 37.5%;
    display: flex;
    flex-direction: column;
}
