* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.layout-container {
    display: flex;
    flex-direction: row;
}

.layout-container .layout-sidebar {
    width: clamp(250px, 16.68vw, 350px);
    flex-shrink: 0;
}

.layout-container .layout-content {
    padding: 0;
    flex: 1;
}

.layout-container .layout-content .base-container {
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
}
