/* 사이드바 추가 스타일 */

.navbar-vertical {
    height: 100vh;
    background-color: #2a2a36;
    display: flex;
    flex-direction: column;
    box-shadow: inset calc(-1 * var(--tblr-navbar-border-width)) 0 0 0 #2a2a36 !important;
}

.navbar-expand-lg {
    width: clamp(250px, 16.68vw, 350px) !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    z-index: 1030 !important;
    align-items: flex-start !important;
    transition: transform .3s !important;
    overflow-y: auto !important;
    padding: 0 !important;
    scrollbar-width: none;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
}

.navbar-brand {
    margin-bottom: 2.5rem;
    justify-content: left !important;
    padding-left: 1rem !important;
}

.navbar-brand-image {
    filter: brightness(0) invert(1);
    width: 3.5rem;
    height: auto;
}

.navbar-custom {
    flex-direction: column;
    align-items: stretch;
    display: flex;
    width: auto;
    overflow-y: auto;
    max-height: calc(100vh - 20rem); /* 프로필과 업로드 버튼 공간을 제외한 높이 */
    padding-right: 0.5rem;
}

.navbar-nav {
    margin-bottom: 2rem;
    font-weight: bold;
    flex-grow: 0 !important;
}

.nav-link {
    color: white;
    font-size: 2.4rem;
    padding: 1.2rem 1.2rem 1.2rem 2rem !important;
    transition: all 0.3s;
    margin: 0.5rem !important;
    justify-content: left !important;
}

.nav-link:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.nav-link.active {
    color: #FF5B3E !important;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.user-info {
    font-size: 1.4rem;
}

.user-info .text-muted {
    color: rgba(255, 255, 255, 0.5) !important;
}

.user-profile {
    margin-bottom: 5rem;
}

.user-avatar {
    width: 6.3rem;
    height: auto;
}

.photo-upload-btn {
    margin: 2rem 3rem 5rem;

}

/* 업로드 버튼 커스텀 스타일 */
#photoUploadBtn {
    background-color: #d3d9e8 !important;
    color: black;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#photoUploadBtn:hover {
    background-color: #d8d9dd !important;
}
