<!DOCTYPE html>
<html
        lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layout}">
<head>
    <title>Trackery - 앨범</title>
    <link rel="stylesheet" href="/album/css/album.css">
</head>
<body>
<section layout:fragment="content" class="album-container">
    <!--  메인탭-->
    <div class="base-container">
    </div>
    <!--  우측 사이드탭-->
    <div class="detail-container">
    </div>
</section>
<div layout:fragment="scripts">
    <script type="module" src="/album/js/Album.js"></script>
</div>
</body>
</html>