<!DOCTYPE html>
<html
        lang="ko"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layout}">
<head>
    <title>Trackery - 앨범</title>
    <link rel="stylesheet" href="/album/css/album.css">
    <link rel="stylesheet" href="/album/css/album-detail.css">
</head>
<body>
<section layout:fragment="content" class="album-container">
    <!--  메인탭-->
    <div class="base-container">
        <!-- 아직 앨범이 없을 때 보일 화면-->
        <div class="no-album-container div-section">
            <a>아직 앨범이 없습니다. Trackery에서 첫 앨범을 만들어보세요 ㅇㅇ;</a>
            <br>
            <button class="btn btn-dark big-album-create-btn">앨범 만들기</button>
        </div>

        <!-- 앨범이 있을 때 보일 화면 -->
        <div class="album-exists-container div-section">
<!--            선택창-->
            <div class="album-nav-container div-section">
                <div class="album-visibility-btn-group">

                </div>

                <button class="btn btn-dark small-album-create-btn">
                    앨범 생성
                </button>

            </div>

            <!--            앨범 갤러리-->
            <div class="album-gallery">
               <div class="album-card">
                   <a>
                       <img src="/images/default-image1.webp" alt="album-image">
                   </a>
                   <p class="card-album-title">
                       광주 여행
                   </p>

                   <p class="text-muted card-album-image-count">
                       항목 : 18장
                   </p>
               </div>
            </div>
        </div>
    </div>
    <!--  우측 사이드탭-->
    <div class="detail-container">
    </div>

<!--    앨범 상세조회 모달-->
    <div class="album-detail-container">
<!--        이미지 보이는 곳-->
        <div class="album-image-container">

        </div>
<!--        우측 사이드탭 컨테이너-->
        <div class="album-detail-right-sidebar-container">
            <div class="album-detail-info">
                <div class="album-header">
                    <p class="album-detail-title">앨범 제목</p>
                    <div class="info-btn-group">
                        <div class="dropdown">
                                <span class="dropdown-btn" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img id="three-dots" src="/icons/common/three-dots-vertical.svg" alt="three-dots-icon" class="three-dots-icon">
                                </span>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#" id="album-edit-btn">편집</a></li>
                                <li><a class="dropdown-item" href="#">삭제</a></li>
                                <li><a class="dropdown-item" href="#">설정</a></li>
                            </ul>
                        </div>

                        <button id="album-detail-close-btn" class="btn-close"></button>
                    </div>
                </div>
                <p class="album-detail-description">앨범 설명</p>
                <div class="album-detail-meta">
                    <p class="album-detail-image-count">사진 매수</p>
                    <span class="album-detail-is-public">공개 앨범</span>
                </div>
            </div>

            <div class="album-detail-gallery">

            </div>
        </div>
    </div>
</section>
<div layout:fragment="scripts">
    <script type="module" src="/album/js/Album.js"></script>
</div>
</body>
</html>